<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <form action="save" method="POST">
    <div>
      タイトル(6文字まで):<input type="text" name="title" value="">
      <input type="submit" value="送信">
    </div>
  </form>
</body>
</html>
